.brands-text{
  margin-top: -30px;
}
.content{
  margin-top: 30px;
}
.sparks-text{
  margin-top: -50px;
}
.continued{
  margin-top: 60px;
}
.branded{
  margin-top: -60px;

}
.partnerse{
 margin-top: -30px;
}
.mobile-example{
  display: none;
}
.ekocom-section-inner-wrapper{
    max-width: 1800px;
    height: 100%;
    position: relative;
    padding: 10vh 0;
	width: 87%;
    margin-left: 9.5%;
}
.ekocom-content-horizontal{
	width: 100%;
	height: 100%;
}
.ekocom-content-vertical {
    display: none;
}
.ekocom-content-horizontal-column{
	-webkit-transition: all .25s ease-out;
	transition: all .25s ease-out;
	-webkit-transition-delay: 0.46s;
	transition-delay: 0.46s;
	width: 50%;
    height: 100%;
    display: inline-block;
    float: left;
}
.branded_content .ekocom-content-horizontal-column.left{
    width: 60%;
}
.branded_content .ekocom-content-horizontal-column.right{
    width: 40%;
}
.branded_content .ekocom-content-horizontal-column.center{
    width: 100%;
    display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.portfolio .ekocom-content-horizontal-column.left, .industry .ekocom-content-horizontal-column.left{
    width: 55%;
}
.portfolio .ekocom-content-horizontal-column.right, .industry .ekocom-content-horizontal-column.right{
    width: 45%;
}
.ekocom-content-horizontal-column-left-row{
    width: 100%;
	height: 100%;
}
.ekocom-content-horizontal-column-left-row.twentyFive{
	height: 25%;
}
.ekocom-content-horizontal-column-left-row.two{
	height: 35%;
}
.ekocom-content-horizontal-column-left-row.fifty{
	height: 50%;
}
.ekocom-content-horizontal-column-left-row.four{
	height: 40%;
}
.ekocom-content-horizontal-column-left-row.five{
	height: 30%;
}
.ekocom-content-horizontal-column-left-row.twenty{
	height: 25%;
}
.ekocom-content-horizontal-column-left-row.seven {
	height: 60%;
}
.ekocom-content-horizontal-column-left-row.eight {
    height: 80%;
}
.ekocom-content-horizontal-column-left-row.seventy {
	height: 70%;
}
.ekocom-content-horizontal-column-left-row.nine{
    height: 9%;
}
.ekocom-content-horizontal-column-left-row.ten{
    height: 10%;
}
.ekocom-content-horizontal-column-left-row.ninety{
	height: 90%;
}
.ekocom-section-title, .ekocom-section-subtitle{
	font-family: 'Stolzl-Bold';
	color: #ffffff;
  font-size: 50px;
  line-height: 60px;
}
.ekocom-section-title {
	/*font-size: 6.125em;*/
  font-size: 52px
    /*font-size: 8.64vmin;*/
    /*line-height: 1.125em;*/
    line-height: 62px;
    /*line-height: 8.8vmin;*/
	padding-top: 3%;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.ekocom-section-subtitle{
	padding-top: 5%;
	font-family: "Montserrat";
    /*font-size: 2.7em;*/
    font-size: 26px;
    /*font-size: 3.83vmin;*/
    /*line-height: 1.35em;*/
    line-height: 36px;
    color: #FFF;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.ekocom-section-description{
  /*height: 301.02px;
  width: 500px;*/
  font-size: 18px;

  /*opacity: 0.05;
  background-color: #20002F;
  box-shadow: 0 20px 50px 0 rgba(0,0,0,0.4);*/
}
.ekocom-section-description p{
	color: #FFFFFF;
	font-family: 'Montserrat';
	/*font-size: 2.09em;*/
    font-size: 18px;
    line-height: 1.35em;
	-webkit-transition: all 1s;
	transition: all 1s;

}
.eko-sparks{
  margin-top: 0px;
}
.partners .ekocom-section-description p{
    width: 79%;
}
.brands .ekocom-section-description{
    padding-top: 3%;
}
.brands .ekocom-section-description p{
	/*width: 70%;*/
}
.branded_content .ekocom-section-description p{
	width: 72%;
	padding-top: 4%;
}
.sparks .ekocom-section-description p{
	width: 80%;
}
.industry .ekocom-section-description p{
	width: 72%;
	padding-top: 4%;
}
.branded_content .ekocom-section-subtitle{
	padding-top: 3%;
	font-weight: bold;
}
.industry .ekocom-section-subtitle{
	padding-top: 3%;
	font-weight: bold;
	width: 65%;
}
.home_graphic-mobile{
  display: none;
}
.ekocom-content-horizontal-column-image.home_graphic{
	background-image: url('../image/home_graphic.png');
	background-size: contain;
    /*height: 580.91px;
    width: 615.08px;*/
    height: 100%;
    width: 100%;
    margin-top: -28px;
    background-repeat: no-repeat;
    background-position: center;
    float: none;
}

.ekocom-content-horizontal-column-image.partners_cluster{
	background-image: url('../image/partners_cluster.png');
	background-size: contain;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: -9px;
    margin-left: 63px;
}
.ekocom-content-horizontal-column-image.branded_img{
	background-image: url('../image/branded_img.png');
	background-size: contain;
    width: 750px;
    height: 590px;
    background-repeat: no-repeat;
    background-position: top center;
    margin-left: -163px;
    margin-top: -40px;
}
.ekocom-content-horizontal-column-image.portfolio_logos{
	background-image: url('../image/portfolio_logos.png');
	background-size: contain;
  width: 498px;
  height: 373px;

    background-repeat: no-repeat;
    background-position: top center;
}
.ekocom-content-horizontal-column-image.sparks_video{
	background-image: url('../image/sparks_video.png');
	background-size: contain;
  width: 100%;
  height: 100%;
    background-repeat: no-repeat;
    background-position: top center;

}
.ekocom-eko-button-show{
	color: #ffffff;
	background-color: #00CCFF;
	padding: 17px;
	text-align: center;
	/*font-size: 1.36em;*/
    font-family: 'Stolzl-Bold';
    font-size: 12px;
		height: 50px;
    width: 252px;
	-webkit-transition: all .333s;
	transition: all .333s;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
}

.ekocom-eko-button-two{
  color: #ffffff;
  background-color: #00CCFF;
	padding: 18px;
  text-align: center;
  /*font-size: 1.36em;*/
    font-family: 'Stolzl-Bold';
    font-size: 12px;
    height: 50px;
    width: 191px;
  -webkit-transition: all .333s;
  transition: all .333s;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
}
.ekocom-eko-button-three{
  color: #ffffff;
  background-color: #00CCFF;
	padding: 18px;
  text-align: center;
  /*font-size: 1.36em;*/
    font-family: 'Stolzl-Bold';
    font-size: 12px;
    height: 50px;
    width: 191px;
  -webkit-transition: all .333s;
  transition: all .333s;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    margin-left: 10px;
}
.ekocom-eko-button-example{
  color: #ffffff;
  background-color: #00CCFF;
	padding: 17px;
  text-align: center;
  /*font-size: 1.36em;*/
    font-family: 'Stolzl-Bold';
    font-size: 12px;
    height: 50px;
    width: 191px;
  -webkit-transition: all .333s;
  transition: all .333s;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    margin-top: 110px;
    margin-left: -450px;
}
.example-button{
  height: 50px;
  width: 191px;
  position: relative;
  z-index: 3;
  margin-left: 0px;
  margin-top: 30px;

}
.mobile-play-button{
  display: none;
}
.button-container{
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.ekocom-eko-button:hover{
    background-color: rgba(0, 183, 255, 1);
}
.industry .ekocom-eko-button {
	display: inline-block;
	margin-right: 2px;
}
.sparks .ekocom-eko-button{
	width: 31%;
    padding: 2.5%;
    margin-top: 5%;
    z-index: 1;
    position: relative;
}
.portfolio .ekocom-eko-button{
	margin-left: 30%;
    margin-top: 8%;
}
.sparks .ekocom-content-horizontal-column{
	height: 70%;
}
.sparks .ekocom-section-subtitle {
    padding-top: 2%;
    padding-bottom: 4%;
    font-weight: bold;
 }
.ekocom-content-horizontal-row {
	width: 100%;
	height: 40%;
	display: inline-block;
}
.sparks .ekocom-content-horizontal .ekocom-content-horizontal-row {
	background-image: url('../image/graph.png');
	background-size: contain;
	background-position: top center;
	background-repeat: no-repeat;
}
.ekocom-video-img-play-btn {
    width: 4vw;
    height: 4vw;
    background-color: rgba(25, 26, 36, 0.75);
    border-radius: 100%;
    border: .3vh solid #50E3A5;
    box-sizing: border-box;
    z-index: 2;
    position: absolute;
    margin-top: 8%;
    margin-left: 22.5%;
    -webkit-transition: all .333s;
    transition: all .333s;
    cursor: pointer;
}
.ekocom-video-img-play-btn svg{
  width: 30%;
  margin-top: 31%;
  margin-left: 39%;
}

.ekocom-video-img-play-btn-icon {
    width: 0;
    height: 0;
    border-top: 1.8vh solid transparent;
    border-bottom: 1.8vh solid transparent;
    border-left: 1.5vw solid white;
    margin-top: 2.7vh;
    margin-left: 1.7vw;
}

.ekocom-video-img-play-btn-icon svg path {
    fill: #fff;
    width: 1.5vw;
    margin-top: 2.5vh;
    margin-left: 1.7vw;
}
.ekocom-video-img-play-btn-text {
	color: #ffffff;
	padding-top: 26%;
	text-align: center;
	font-family: 'Montserrat';
	/*font-size: 2.7em;*/
    font-size: 16px;
}
.mobile-boxs{
  display: none;
}
.mobile-box-container{
  display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
}
.ekocom-mobile-box {
    width: 80px;
    margin: 3px;
    /*box-shadow: 0 30px 100px 0 rgba(0, 0, 0, 0.4);*/
    background-color: rgba(32, 0, 47, 0.2);
    height: 80px;
    font-family: 'Montserrat';
    text-align: center;
    font-size: 8px;
    padding: 10px;
  }
.ekocom-mobile-box-text{
  font-size: 8px;
  padding-top: 23.5px;
  color: white;
}
.ekocom-quote-box {
    width: 91%;
    /*box-shadow: 0 30px 100px 0 rgba(0, 0, 0, 0.4);*/
    background-color: rgba(32, 0, 47, .1);
    height: 28%;
    font-family: 'Montserrat';
    text-align: center;
    margin-top: 9px;
    padding: 9px;
}
.ekocom-quote-box-brands {
  width: 80%;
  height: auto;
  /*box-shadow: 0 30px 100px 0 rgba(0, 0, 0, 0.4);*/
  background-color: rgba(32, 0, 47, .1);
  /*height: 28%;*/
  font-family: 'Montserrat';
  text-align: center;
  margin-top: 14px;
  padding: 30px;
  /*padding-left: 133px;*/
}
.ekocom-quote-box-brands p {
  font-size: 18px;
}

.ekocom-quote-box-text {
    /*font-size: 2em;*/
    font-size: 18px;
    line-height: 25px;
    padding-top: 7.5%;
    color: white;
}
.ekocom-quote-box-text-brands {
    font-size: 18px;
    line-height: 2.24em;
    padding-top: 25px;
    color: white;
    text-align: center;
}
.ekocom-quote-box-subtext {
    /*font-size: 1.155em;*/
    font-size: 12px;
    color: white;
}
.ekocom-quote-icon.yr{
	background-image: url('../image/yr_quote.png')

}
.ekocom-quote-icon.syfy{
	background-image: url('../image/portfolio_syfy.png')
}

.ekocom-quote-icon.mouse{
	background-image: url('../image/mouse.png');
  width: 100%;
  position: relative;
  top: 105%;
}

.ekocom-content-vertical{
	height: 100%;
	width: 100%;
}
.ekocom-content-vertical-row{
	width: 100%;
	height: 100%;
}
.ekocom-content-vertical-row.thirty{
	height: 30%;
}
.ekocom-content-vertical-row.fourty{
	height: 40%;
}
.ekocom-content-vertical-row.sixty{
	height: 60%;
}
.ekocom-content-vertical-row.thirtyFive{
	height: 35%;
}
.ekocom-content-vertical-row.sixtyFive{
	height: 65%;
}
.ekocom-content-vertical-row.fiftyFive{
	height: 55%;
}
.ekocom-content-vertical-row.fifty{
	height: 50%;
}
.ekocom-content-vertical-row.fourtyFive{
	/*height: 45%;*/

}
.ekocom-content-vertical-row .ekocom-section-subtitle{
	padding-top: 1%;
    padding-bottom: 1%;
}
.ekocom-content-vertical-row .ekocom-section-description p{
    padding: 0;
	/*font-size: 1.363em;*/
	line-height: 1.1em;
	width: 100%;
    font-size: 18px;
}
.ekocom-content-vertical-row .ekocom-eko-button{
	padding: 1.5%;
    width: 40%;
}
#ekocom-branded-content-ui-stack{
	margin-top: 5%;
}
#ekocom-branded-content-ui-stack .ekocom-type-display {
    display: inline-block;
    color: #ffffff;
}
.sparks .ekocom-section-title, .portfolio .ekocom-section-title {
    /*font-size: 5em;*/
    /*font-size: 8.51vmin;*/
}
.partners .ekocom-eko-button{
    width: 40%;
    margin-top: 5%;
}
.home_page_quote{
    /*padding-top: 10%;*/
}
.home_page_quote_brands{
  font-size: 19px;
  text-align: center;
}
.home_page_quotee{
    font-size: 18px;
}
.home_page_quote_image{
    background-image: url(../image/brands_quotes.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    z-index: 0;
    margin-top: -32%;
    margin-left: -6%;
    width: 12%;
    height: 9vh;
}
.img-button{
  display: none;
}
.mobile-btn-text{
  display: none;
}
/*a .ekocom-eko-button-show{

    text-decoration: none;
}
a:link{
  text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a{
  text-decoration: none;
}*/
.vertical {
  transform: rotate(-90deg);
  transform-origin: right, top;
  -ms-transform: rotate(-90deg);
  -ms-transform-origin:right, top;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin:right, top;
  position: absolute;
  color: white;
  color: #FFFFFF;
  font-family: 'Montserrat';
  font-size: 12px;
  left: -58.3%;
  margin-top: -42%;
  width: 100%;
  height: auto;
  opacity: 0.50;
  letter-spacing: .2px;
}
.talk-button{
  color: #ffffff;
  background-color: #00CCFF;
  padding: 17px;
  text-align: center;
  /*font-size: 1.36em;*/
    font-family: 'Stolzl-Bold';
    font-size: 12px;
    height: 50px;
    width: 191px;
  -webkit-transition: all .333s;
  transition: all .333s;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    margin-top: 40px;
    margin-left: 222px;
}
.eko-sparks{
  margin-top: 0px;
}
.video-sparks{
  margin-top: -20px;
}
.pio-sparks{
  margin-top: -30px;
}
.videoImage{
  display: none;
  margin-top: 860px;

}
.brandImage{
  display: none;
    margin-top: 860px;

}
@media screen and (max-width: 1200px) and (min-width: 721px) {
  .ekocom-section-title {
      font-size: 48px;
      line-height: 48px;
      width: 120%;
  }
  .vertical {
    transform: rotate(-90deg);
    transform-origin: right, top;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: right, top;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: right, top;
    position: absolute;
    color: white;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 12px;
    left: -57.7%;
    margin-top: -42%;
    width: 100%;
    height: auto;
    opacity: 0.50;
    letter-spacing: .2px;
}
  .talk-button {
    color: #ffffff;
    background-color: #00CCFF;
    padding: 17px;
    text-align: center;
    /* font-size: 1.36em; */
    font-family: 'Stolzl-Bold';
    font-size: 12px;
    height: 50px;
    width: 191px;
    -webkit-transition: all .333s;
    transition: all .333s;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    margin-top: 40px;
    margin-left: 164px;
}
.ekocom-quote-box-text {
    font-size: 18px;
    line-height: 25px;
    padding-top: -4.5%;
    color: white;
}
.ekocom-quote-box-text {
    line-height: 33px;
    margin-top: -22px;
}
.ekocom-content-horizontal-column-image.partners_cluster {
    margin-left: 20px;
    position: relative;
    top: 20%;
    margin-left: 32px;
}
.ekocom-content-horizontal-column-image.branded_img {
  position: relative;
  top: -10%;
  width: 500px;
  margin-left: 32px;
}
}
@media screen and (max-width: 1024px) and (min-width: 559px) {
  .ekocom-section-title {
      font-size: 28px;
      line-height: 38px;
  }
  .ekocom-section-subtitle {
    padding-top: 5%;
    font-family: "Montserrat";
    /* font-size: 2.7em; */
    font-size: 22px;
    /* font-size: 3.83vmin; */
    /* line-height: 1.35em; */
    line-height: 32px;
    color: #FFF;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.talk-button {
    color: #ffffff;
    background-color: #00CCFF;
    padding: 17px;
    text-align: center;
    /* font-size: 1.36em; */
    font-family: 'Stolzl-Bold';
    font-size: 12px;
    height: 50px;
    width: 191px;
    -webkit-transition: all .333s;
    transition: all .333s;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    margin-top: 40px;
    margin-left: 120px;
}
.ekocom-content-horizontal-column-image.partners_cluster {
    margin-left: -70px;
    position: relative;
    top: -5%;
    width: 570px;
}
  .ekocom-content-horizontal-column-image.branded_img{
    width: 440px;
    position: relative;
    top: 30%;
    left: 34%;
  }
  .ekocom-content-horizontal-column-image.portfolio_logos{
      width: 100%;
      position: relative;
      top: 36%;
  }
  .ekocom-content-horizontal-column-left-row.ninety {
    height: 90%;
    margin-left: 48px;
    position: relative;
}
.ekocom-content-horizontal-column-image.sparks_video{
  position: relative;
  top: 49%;
}
.ekocom-section-description p{
  font-size: 16px;
}
.ekocom-content-horizontal-column-left-row ninety{
  position: relative;
  top: -5%;
}
.ekocom-video-img-play-btn{
  margin-top: 14%;
  margin-left: 45.5%;
}
.ekocom-industry-icon{
  margin-top: 60px;
}
.button-container{
  margin-top: -50px;
}
.ekocom-quote-box-text{
  line-height: 22px;
  margin-top: -10px;
}
.ekocom-quote-box{
  padding: 45px;
}
.ekocom-quote-box-subtext p{
  line-height: 8px;
  padding-top: 10px;
}

.videoHide{
  display: none;
}
}

@media (max-width:558px){

    .ekocom-content-horizontal-column-image.home_graphic{
      display:none;
    }
    .home_graphic-mobile{
      display: inline;
      background-size: contain;
        /*height: 580.91px;
        width: 615.08px;*/
        width: 70%;
        /*margin-top: -28px;*/
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        left: 14%;
        margin-top: 23px;
        /*margin-left: 120px;*/
    }
    .ekocom-content-horizontal-column-image.partners_cluster{
      display: none;
    }
    .ekocom-content-horizontal-column-image.branded_img{
      display: none;
    }
    .ekocom-content-horizontal-column-image.portfolio_logos{
      display: none;
    }
    .ekocom-content-horizontal-column-image.sparks_video{
    	display: none;
    }
    .ekocom-content-horizontal-column{
    	width: 90%;
      height: 100%;
      display: inline-block;
      margin-left: 28px;
    }
    .ekocom-section-title{
      font-size: 15px;
      line-height: 25px;
      width: 95%;

    }
    .ekocom-section-subtitle{
      font-size: 13px;
      line-height: 20px;
      width: 100%;
    }
    .ekocom-quote-icon.yr{
      width: 100%;

    }
    .ekocom-quote-box-brands {
      width: 100%;
      margin-top: 11px;
      padding: 10px;
    }
    .ekocom-quote-box-brands {
      font-size: 12px;
      line-height: 10px;
    }
    .ekocom-quote-box-brands p {
      font-size: 15px;
      line-height: 10px;
    }
    .ekocom-quote-box-subtext {
        font-size: 8px;
    }
    .ekocom-section .ekocom-section-content .ekocom-description p {
      font-size: 11px;
      line-height: 15px;
      width: 93%;
    }
    .ekocom-section-description p{
    	color: #FFFFFF;
    	font-family: 'Montserrat';
      font-size: 15px;
      line-height: 1.35em;
      margin-top: -10px;

    }

    p.eko-sparks{
      width: 100%;
    }
    .ekocom-content-horizontal-column-left-row{
      width: 100%;
    }
    .ekocom-quote-icon.mouse{
      display: none;
    }
    .ekocom-content-horizontal-column .left{
      height: 100%;
      width: 100%;
    }

    .portfolio .ekocom-content-horizontal-column.left, .industry .ekocom-content-horizontal-column.left{
      width: 100%;
    }
    .branded_content .ekocom-content-horizontal-column.left{
      width: 100%;
    }
    .mobile-boxs{
      display: block;
      margin-top: -25px;
      margin-left: 6px;
    }
    .mobile-box-container{
      display: -webkit-flex;
       display: flex;
       -webkit-flex-direction: row;
       flex-direction: row;
       -webkit-justify-content: flex-start;
       justify-content: flex-start;
    }
    .ekocom-mobile-box {
        width: 78px;
        margin: 1px;
        /*box-shadow: 0 30px 100px 0 rgba(0, 0, 0, 0.4);*/
        background-color: rgba(32, 0, 47, 0.2);
        height: 78px;
        font-family: 'Montserrat';
        text-align: center;
        font-size: 12px;
      }
    .ekocom-mobile-box-text{
      font-size: 8px;
      padding-top: 23.5px;
      color: white;
    }
    .ekocom-eko-button-three{
      color: #ffffff;
      background-color: #00CCFF;
      padding: 18px;
      text-align: center;
      /*font-size: 1.36em;*/
        font-family: 'Stolzl-Bold';
        font-size: 12px;
        height: 50px;
        width: 191px;
      -webkit-transition: all .333s;
      transition: all .333s;
        box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.12);
        cursor: pointer;
        margin-left: 10px;
    }
    .mp{
      width: 45% !important;
    }
    .pt{
      width: 41% !important;
    }
    .button-container{
      display: -webkit-flex;
       display: flex;
       -webkit-flex-direction: row;
       flex-direction: row;
       -webkit-justify-content: flex-start;
       justify-content: flex-start;
       padding-top: 8px;
       margin-left: -10px;
    }
    .ekocom-eko-button-two{
      font-size: 8px;
      height: 40px;
      width: 131px;
    }
    .ekocom-eko-button-three{
      font-size: 8px;
      height: 40px;
      width: 131px;
    }
    #ekocom-branded-content-ui{
      display: none;
    }
    .ekocom-eko-button-example{
      color: #ffffff;
        background-color: #00CCFF;
        padding: 17px;
        text-align: center;
        /* font-size: 1.36em; */
        font-family: 'Stolzl-Bold';
        font-size: 12px;
        height: 50px;
        width: 191px;
        -webkit-transition: all .333s;
        transition: all .333s;
        box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.12);
        cursor: pointer;
        top: 293px;
        position: relative;
        margin-top: 0px;
        margin-left: 56px;
    }
    .img-portfolio{
      width: 90%;
      margin-left: 31px;
      left: -6%;
    }
    .logos{
      margin-top: 20px;
      padding-bottom: 10px;
      left: 9%;
    }
    .pin{
      margin-top: 36px;
      padding-bottom: 10px;
      width: 244px;
      margin-left: -36px;
    }
    .engage{
      width: 92%;
      left: 7%;
      margin-top: 16px;
    }
    .ekocom-eko-button-show{
      width:225px;
      margin-left: 13px;
      margin-top: 15px;
      z-index: 3;
      position: absolute;
    }
    .eko-text{
      padding-top: 10px;
    }
    .mobile-video-button{

    }
    .img-button{
      width: 6%;
      margin-left: 110px;
      margin-top: 92px;
      position: absolute;
      z-index: 1;
    }
    .mobile-btn-text{
      color: white;
      margin-top: -119px;
      position: absolute;
      margin-left: 76px;
    }

    .talk{
      margin-top: -253px;
      margin-left: 25px;
    }
    .ekocom-video-img-play-btn{
    width: 18vw;
    height: 18vw;
    background-color: rgba(25, 26, 36, 0.75);
    border-radius: 100%;
    border: .3vh solid #50E3A5;
    box-sizing: border-box;
    z-index: 2;
    position: absolute;
    margin-top: -50%;
    margin-left: 30.5%;
    -webkit-transition: all .333s;
    transition: all .333s;
    cursor: pointer;
    }
    .arrow{
      margin-top: -3px;
    }
    .mobile-btn-text{
      display: block;
      margin-top: -100px;
      margin-left: 81px;
      top: 62%;
    }
    /*.portfolio .ekocom-section-title {
      font-size: 11px;

    }*/
    .eko-text{
      margin-top: 3px;
    }
    .mobile-play-button{
      display: block;
    }
    .vertical{
      margin-top: -37px;
      margin-left: 37px;
      font-size 8px;
    }
    .brands{

    }
    .video-image-mobile{

    }
    .videoImage{
      display: block;
      width: 99%;
      margin-top: 71px;
    }
    .brandImage{
      display: block;
      width: 90%;
      margin-top: 52px;
    }
    .videoHide{
      display: block;
    }
    .ekocom-quote-box-text {
        /*font-size: 2em;*/
        font-size: 18px;
        line-height: 25px;
        padding-top: 2.5%;
        color: white;
    }
        .example-button{
          height: 50px;
          width: 191px;
          position: relative;
          z-index: 3;
          margin-left: 24px;
          margin-top: -120px;

        }
}
