.nav-side-menu {
  overflow: hidden;
  font-size: 12px;
  font-weight: 200;
  position: fixed;
  top: 0px;
  width: 4.9em;
  height: 100%;
  transition: all .3s ease-out;
  z-index: 7005;
  font-family: "Montserrat";
  background: rgba(55,26,4,.6);
  box-shadow: 0 20px 90px 0 rgba(43,19,8,0.79);
}
.nav-side-menu:hover {
  width: 25.76vw;
  opacity: 1;
  background-color: #1C3937;
}
.nav-side-menu .brand {
  display: block;
  font-size: 2.5vmin;;
  line-height: 3.7vmin;
  width: 25.76vw;
  text-align: left;
  transition: all .33s ease-out;
  font-family: "Montserrat";
  color: #FFFFFF;
  letter-spacing: 0;
  margin-bottom: 1vh;
  margin-top: 1vh;
  height: 5vmin;
}
.brand img{
  margin-left: 1em;
  margin-right: .8em;
  margin-top: 0.75em;
  float: left;
}
.nav-side-menu .brand div{
  display: inline-block;
  width: 70%;
  margin-top: 1vmin;
  margin-left: 0.8vw;
}
.nav-side-menu .toggle-btn {
  display: none;
}
#menu-content li{
  list-style: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  width: 25.76vw;
  cursor: pointer;

}
.nav-side-menu ul li,
.nav-side-menu ul li li{
  opacity: .4;
}
.nav-side-menu ul li.active,
.nav-side-menu ul li:hover,
.nav-side-menu ul li li.active{
  opacity: 1;
}
.nav-side-menu li .active {
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #fff;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #fff;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  border: none;
  line-height: 28px;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
}

.nav-side-menu li {
  padding-left: 0px;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.nav-side-menu span.number{
  font-family: Stolzl-Bold;
  font-size: 25px;
  color: #FFFFFF;
  line-height: 25px;
  margin-left: .5em;
  margin-right: 1em;
  pointer-events: none;
  vertical-align: middle;
}
@media (max-width: 63em) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    z-index: 0;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  #main {
  	width:calc(100% - 300px);
  	float: right;
  }
}
.start-a-project{
  position: absolute;
  bottom: 7.65vh;
  margin-left: 3em;
  width: 22vw;
  opacity: 0;
  transition: opacity .2s ease-in-out;
  letter-spacing: 1.44px;
  line-height: 20px;
  color: #FFF;
}

.nav-side-menu:hover .start-a-project{
  opacity: .54  ;
}
.nav-side-menu:hover .start-a-project:hover{
  opacity: 1;
}
.nav-side-menu:hover .start-a-project a:hover{
  color: #FFF;
  text-decoration: none;
}
.sub-menu-item{
  opacity: 0.4;
  font-size: 1.7vmin;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 20px;
}
.category-title{
  opacity: 0.47;
  font-size: 2vmin;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 21px;
  text-transform: uppercase;
}
.sub-menu-item:before {
  font-family: FontAwesome;
  content: "\00b7";
  display: inline-block;
  font-size: 1.7vw;
  opacity: 1 !important;
  padding-left: 26px;
  padding-right: 1.4em;
  vertical-align: middle;
}
.sub-menu-item.active:before{
  font-size: 2.5vw;
  padding-left: 24px;
  padding-right: 0.92em;
}
.brand span{
  font-size: 3vmin;
}
.menu-content{
  height: 72vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.menu-content::-webkit-scrollbar
{
	width: 10px;
  background-color: rgba(0,0,0,0.3);
}

.menu-content::-webkit-scrollbar-thumb
{
  background-color: rgba(255,255,255,0.9);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7);
  border-radius: 10px;
}
