<section class="ekocom-section ekocom-section-moments ekocom-below">
    <div class="ekocom-section-content ekocom-moments">
        <div class="ekocom-bg-rectangle"></div>
        <h1 class="font-size-1 ekocom-title ekocom-moments-title">Eko Structural Guidelines at work in Fiji</h1>
        <div class="ekocom-description ekocom-moments-description">
            <p>Let’s examine how the Eko Guidelines for Structure apply to this project.
            </p>
        </div>
        <ul class="ekocom-slide-pagination moments-pagination ekocom-section-0">
            <li class="active" value="0" data-for="momentsslide0" style="background-image: url('./image/thumbnails/pillars/pillars1.jpg');"></li>
            <li class="" value="1" data-for="momentsslide1" style="background-image: url('./image/thumbnails/pillars/pillars2.jpg');"></li>
            <li class="" value="2" data-for="momentsslide2" style="background-image: url('./image/thumbnails/pillars/pillars3.jpg');"></li>
            <li class="" value="3" data-for="momentsslide3" style="background-image: url('./image/thumbnails/pillars/pillars4.jpg');"></li>
        </ul>
        <div class="ekocom-slide first moments-slide section-0">
            <section class="ekocom-section ekocom-moment ekocom-active">
                <div class="momentTop">
                    <div class="image" style="background-image: url('./image/thumbnails/pillars/pillars1.jpg');"></div>
                    <div class="playContainer"><a class="play" href="https://helloeko.com/music/like-a-rolling-stone" title="Play" tabindex="-1" target="_blank"><svg viewBox="0 0 13 16"><path d="M1.3,0.1C1.1,0.1,1,0,0.8,0C0.4,0,0,0.4,0,0.8l0,14.3C0,15.6,0.4,16,0.8,16c0.2,0,0.3-0.1,0.5-0.1 L12.6,9C12.8,8.7,13,8.4,13,8s-0.2-0.7-0.4-1L1.3,0.1z"></path></svg></a></div>
                    <span class="momentDate">2013</span>
                </div>
                <div class="momentTitleContainer">
                    <h3 class="momentPreTitle">Our work in music goes viral, gets recognized and awarded</h3>
                    <h2 class="momentTitle">Bob Dylan "Like A Rolling Stone"</h2></div>
                <p class="momentContentContainer"><span class="momentDescription">"The first ever interactive video for Bob Dylan's 'Like a Rolling Stone' is an interactive masterpiece" – Wired. 18 prestigious awards including 4 Cannes Lions Gold, multiple CLIO Awards, and Time Magazine Video of the Year. &nbsp;&nbsp;</span>
                    <span class="readMoreContainer"><a class="readMore" href="https://www.wired.com/2013/11/bob-dylan-rolling-stone-video/" title="Read more" tabindex="-1" target="_blank">Read more &gt;</a></span>
                </p>
            </section>
            <section class="ekocom-section ekocom-moment ekocom-below">
                <div class="momentTop">
                    <div class="image" style="background-image: url('./image/thumbnails/pillars/pillars2.jpg');"></div>
                    <div class="playContainer"><a class="play" href="https://helloeko.com/v/coca-cola-mothers-day" title="Play" tabindex="-1" target="_blank"><svg viewBox="0 0 13 16"><path d="M1.3,0.1C1.1,0.1,1,0,0.8,0C0.4,0,0,0.4,0,0.8l0,14.3C0,15.6,0.4,16,0.8,16c0.2,0,0.3-0.1,0.5-0.1 L12.6,9C12.8,8.7,13,8.4,13,8s-0.2-0.7-0.4-1L1.3,0.1z"></path></svg></a></div>
                    <span class="momentDate">2015</span>
                </div>
                <div class="momentTitleContainer">
                    <h3 class="momentPreTitle">We used interactivity to evoke emotion in commercials and branded entertainment for brand advertisers</h3>
                    <h2 class="momentTitle">Coke "Inseparable"</h2></div>
                <p class="momentContentContainer"><span class="momentDescription">Explores the unbreakable bond between mother and child, and gain a perspective on this ever changing, loving, and sometimes tumultuous relationship through the eyes of each character. &nbsp;&nbsp;</span>
                    <span class="readMoreContainer"><a class="readMore" href="http://www.coca-colacompany.com/stories/call-your-mom-courtesy-of-coke-film-celebrates-inseparable-bond-between-mothers-and-their-children" title="Read more" tabindex="-1" target="_blank">Read more &gt;</a></span>
                </p>
            </section>
            <section class="ekocom-section ekocom-moment ekocom-below">
                <div class="momentTop">
                    <div class="image" style="background-image: url('./image/thumbnails/pillars/pillars3.jpg');"></div>
                    <div class="playContainer"><a class="play" href="https://helloeko.com/v/ticking-bomb---aloe-blacc" title="Play" tabindex="-1" target="_blank"><svg viewBox="0 0 13 16"><path d="M1.3,0.1C1.1,0.1,1,0,0.8,0C0.4,0,0,0.4,0,0.8l0,14.3C0,15.6,0.4,16,0.8,16c0.2,0,0.3-0.1,0.5-0.1 L12.6,9C12.8,8.7,13,8.4,13,8s-0.2-0.7-0.4-1L1.3,0.1z"></path></svg></a></div>
                    <span class="momentDate">2014</span>
                </div>
                <div class="momentTitleContainer">
                    <h3 class="momentPreTitle">The film industry and world-leading festivals started to take notice and collaborating begins</h3>
                    <h2 class="momentTitle">Tribeca Interactive &amp; Interlude: A Music Film Challenge</h2></div>
                <p class="momentContentContainer"><span class="momentDescription">In collaboration with The Lincoln Motor Company via Genero.tv's global creative community, the first ever challenge supported creators in exploring new approaches to storytelling. Videos submitted from 29 countries, all produced with Interlude's authoring tool. &nbsp;&nbsp;</span>
                    <span class="readMoreContainer"><a class="readMore" href="http://www.hollywoodreporter.com/news/tribeca-film-festival-announces-winners-695970" title="Read more" tabindex="-1" target="_blank">Read more &gt;</a></span>
                </p>
            </section>
            <section class="ekocom-section ekocom-moment ekocom-below">
                <div class="momentTop">
                    <div class="image" style="background-image: url('./image/thumbnails/pillars/pillars4.jpg');"></div>
                    <div class="playContainer"><a class="play" href="https://helloeko.com/v/possibilia?autoplay=true" title="Play" tabindex="-1" target="_blank"><svg viewBox="0 0 13 16"><path d="M1.3,0.1C1.1,0.1,1,0,0.8,0C0.4,0,0,0.4,0,0.8l0,14.3C0,15.6,0.4,16,0.8,16c0.2,0,0.3-0.1,0.5-0.1 L12.6,9C12.8,8.7,13,8.4,13,8s-0.2-0.7-0.4-1L1.3,0.1z"></path></svg></a></div>
                    <span class="momentDate">2014</span>
                </div>
                <div class="momentTitleContainer">
                    <h3 class="momentPreTitle">Filmmakers embrace our interactive medium and began creating their own stories</h3>
                    <h2 class="momentTitle">Daniels Created Possibilia</h2></div>
                <p class="momentContentContainer"><span class="momentDescription">An unfolding love story set in the multiverse, from acclaimed directing duo Daniels, starring Alex Karpovsky and Zoe Jarman. // 2014: Tribeca Film Festival – World Premiere, Future of Storytelling – Grand Prize Winner. // 2015: One Screen Festival – Narrative Finalist, Sundance Film Festival – New Frontiers Official Selection. &nbsp;&nbsp;</span></p>
            </section>

        </div>
    </div>
</section>
