<div class="nav-side-menu">
    <div class="brand">
      <!-- <img src="./image/menu_icon.svg"></img>
      <div>EKO CREATORS GUIDELINES</div> -->
    </div>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <ul class="sub-menu collapse in" id="guidelines">
                <li value="0" class="sub-menu-item active"><p class="brands-li">Brands</p></li>
                <li value="1" class="sub-menu-item">Partners</li>
                <li value="2" class="sub-menu-item">Sparks</li>
                <li value="3" class="sub-menu-item">Branded Content</li>
                <li value="4" class="sub-menu-item">Industry</li>
                <li value="5" class="sub-menu-item">Portfolio</li>
            </ul>
        </ul>
    </div>
    <div class="start-a-project"><a href="https://studio.helloeko.com/signup" target="_blank">START A PROJECT ></a></div>
</div>
