<section data-target="#brands" class="ekocom-section ekocom-section-intro ekocom-active site-section brands">
    <div class="ekocom-section-inner-wrapper ekocom-section-content">
        <div class="ekocom-content-horizontal ekocom-description">
            <div class="ekocom-content-horizontal-column left">
              <div class="side-text">
                <div class="vertical brands-text"> BRANDS</div>
              </div>
                <!-- <div class="ekocom-content-horizontal-column-left-row twentyFive"> -->
                <div class="ekocom-content-horizontal-column-left-row">

                    <div class="ekocom-section-title">Engage audiences
                      like never before</div>

                <!-- </div>
                <div class="ekocom-content-horizontal-column-left-row twentyFive"> -->
                    <div class="ekocom-section-subtitle">Integrate your brand message into Eko serial interactive entertainment</div>
                <!-- </div>
                <div class="ekocom-content-horizontal-column-left-row fifty"> -->


                    <div class="ekocom-section-description">
                      <!-- <div class=" ekocom-quote-box-brands">
                        <p class="home_page_quote">"Eko's unique interactivity creates brand engagement that enables deep emotional connections with consumers unlike any other platform…and heralds the future of entertainment and marketing"</p>
                        <p class="home_page_quotee">- David Sable | Global CEO, Y&amp;R</p> -->


                        <div class="ekocom-quote-box-brands">
                            <div class="ekocom-quote-box-text-brands">
                              <p class="home_page_quote-brands">"Eko's unique interactivity creates brand engagement that enables deep emotional connections with consumers unlike any other platform…and heralds the future of entertainment and marketing"</p>
                            </div>
                            <div class="ekocom-quote-box-subtext">- David Sable | Global CEO,</div>
                            <div class="ekocom-quote-icon yr"></div>

                        </div>

                        <img class="home_graphic-mobile" src="image/home_graphic.png">


                      <!-- </div> -->
                    </div>
                </div>
            </div>
            <div class="ekocom-content-horizontal-column right">
                <div class="ekocom-content-horizontal-column-left-row ten"></div>
                <div class="ekocom-content-horizontal-column-left-row ninety">
                    <div class="ekocom-content-horizontal-column-image home_graphic"></div>
                </div>
            </div>
                <div class="ekocom-content-horizontal-column center">

                </div>
          <div class="ekocom-quote-icon mouse mouse-mobile"></div>
        </div>


        <div class="ekocom-content-vertical ekocom-description">
            <div class="ekocom-content-vertical-row fiftyFive">
                <div class="ekocom-section-title">Engage audiences like never before</div>
                <div class="ekocom-section-subtitle">Integrate your brand message into Eko serial interactive entertainment</div>
                <div class="ekocom-section-description">
                    <p>"Eko's unique interactivity creates brand engagement that enables deep emotional connections with consumers unlike any other platform…and heralds the future of entertainment and marketing"</p>
                    <p>- David Sable | Global CEO, Y&amp;R</p>

                </div>
            </div>
            <div class="ekocom-content-vertical-row fourtyFive">

                <div class="ekocom-content-vertical-column-image"></div>
            </div>
        </div>
    </div>
</section>
<section data-target="#partners" class="ekocom-section ekocom-section-intro ekocom-below next-1 site-section partners">
    <div class="ekocom-section-inner-wrapper ekocom-section-content">
        <div class="ekocom-content-horizontal ekocom-description">
            <div class="ekocom-content-horizontal-column left">
              <div class="side-text">
                <div class="vertical content"> ORGINAL CONTENT </div>
              </div>
                <!-- <div class="ekocom-content-horizontal-column-left-row twentyFive"> -->
                <div class="ekocom-content-horizontal-column-left-row">
                    <div class="ekocom-section-title">Collaborate with
                        top creative talent</div>
                <!-- </div>
                <div class="ekocom-content-horizontal-column-left-row four"> -->
                    <div class="ekocom-section-description">
                        <p class="eko-sparks eko-text">Eko works with Hollywood storytellers, novel independent creators, and leading content partners to create original interactive series entertainment. Together with brands, we leverage these relationships to develop brand creative and messaging that resonates with today’s digital audiences.</p>
                    </div>
                    <img class="home_graphic-mobile engage" src="image/partners_cluster.png">
                <!-- </div>
                <div class="ekocom-content-horizontal-column-left-row two"> -->
                    <a href="https://helloeko.com/stories/" target="_blank">
                      <div class="ekocom-eko-button-show">CHECK OUT OUR SHOWS</div>
                    </a>
                </div>
            </div>
            <div class="ekocom-content-horizontal-column right">
                <div class="ekocom-content-horizontal-column-left-row twenty"></div>
                    <div class="ekocom-content-horizontal-column-image partners_cluster"></div>

            </div>
        </div>
        <div class="ekocom-content-vertical ekocom-description">
            <div class="ekocom-content-vertical-row sixty">
                <div class="ekocom-section-title">Collaborate with top creative talent</div>
                  <div class="ekocom-section-subtitle"></div>
                <div class="ekocom-section-description">
                    <p class="eko-text">Eko works with Hollywood storytellers, novel independent creators, and leading content partners to create original interactive series entertainment. Together with brands, we leverage these relationships to develop brand creative and messaging that resonates with today’s digital audiences.</p>
                </div>
                <a href="https://helloeko.com/stories/" target="_blank">
                <div class="ekocom-eko-button">CHECK OUT OUR SHOWS</div>
                </a>
            </div>
            <div class="ekocom-content-vertical-row fourty">
                <div class="ekocom-content-horizontal-column-image partners_cluster"></div>
            </div>
        </div>
    </div>
</section>
<section data-target="#sparks" class="ekocom-section ekocom-section-intro ekocom-below next-1 site-section sparks">
    <div class="ekocom-section-inner-wrapper ekocom-section-content">
        <div class="ekocom-content-horizontal ekocom-description">
            <div class="ekocom-content-horizontal-column left">
              <div class="side-text">
                <div class="vertical sparks-text">SPARKS </div>
              </div>
                <!-- <div class="ekocom-content-horizontal-column-left-row four"> -->
                <div class="ekocom-content-horizontal-column-left-row">
                    <div class="ekocom-section-title">Integrate seamlessly
                        within Eko Series</div>
                <!-- </div>
                <div class="ekocom-content-horizontal-column-left-row seven"> -->
                    <div class="ekocom-section-subtitle">Sparks: Organic and Authentic</div>
                    <div class="ekocom-section-description">
                        <p class="eko-sparks video-sparks">Eko Sparks are video brand messages that are integrated into key interactive moments during Eko original series. Sparks are triggered by viewer choices, augmenting the viewer experience by communicating short and powerful brand messaging in an organic and authentic way.</p>
                        <a href="https://company.helloeko.com/brands/portfolio" target="_blank">
                            <div class="ekocom-eko-button-example example-button">EXAMPLE SPARKS</div>
                          </a>
                        <a class="videoHide" href="https://vimeo.com/218043492/e0de5a1996" target="_blank">
                        <img class="videoImage" src="image/video-image.png">
                      </a>
                    </div>

                </div>
                <!-- <div class="ekocom-content-horizontal-column-left-row six">
                </div> -->
            </div>
            <div class="ekocom-content-horizontal-column right">
                <div class="ekocom-content-horizontal-column-left-row ten">
                </div>
                <div class="ekocom-content-horizontal-column-left-row ninety">
                    <div class="ekocom-content-horizontal-column-image sparks_video">
                        <div class="ekocom-video-img-play-btn">
                            <svg viewBox="0 0 13 16" style="fill: #fff;"><path d="M1.3,0.1C1.1,0.1,1,0,0.8,0C0.4,0,0,0.4,0,0.8l0,14.3C0,15.6,0.4,16,0.8,16c0.2,0,0.3-0.1,0.5-0.1 L12.6,9C12.8,8.7,13,8.4,13,8s-0.2-0.7-0.4-1L1.3,0.1z"></path></svg>
                        </div>
                        <div class="ekocom-video-img-play-btn-text">About Sparks</div>
                    </div>
                </div>
                <a href="https://company.helloeko.com/brands/portfolio" target="_blank">
                <div class="ekocom-eko-button-example mobile-example">EXAMPLE SPARKS</div>
              </a>

            </div>
            <div class="ekocom-content-horizontal-row">
            </div>
        </div>
        <div class="ekocom-content-vertical ekocom-description">
            <div class="ekocom-content-vertical-row sixty">
                <div class="ekocom-section-title">Integrate seamlessly within Eko Series</div>
                <div class="ekocom-section-subtitle">Sparks: Organic and Authentic</div>
                <div class="ekocom-section-description">
                    <p>Eko Sparks are video brand messages that are integrated into key interactive moments during Eko original series. Sparks are triggered by viewer choices, augmenting the viewer experience by communicating short and powerful brand messaging in an organic and authentic way.</p>
                </div>

              </div>
                <img class="home_graphic-mobile" src="image/portfolio_logos.png">
                <img class="home_graphic-mobile pin" src="image/video-image.png">

                <div class="mobile-play-button">
                  <div class="ekocom-content-horizontal-column-left-row ninety">
                      <div class="ekocom-content-horizontal-column-image sparks_video">
                          <div class="ekocom-video-img-play-btn">
                              <svg viewBox="0 0 13 16" style="fill: #fff;"><path d="M1.3,0.1C1.1,0.1,1,0,0.8,0C0.4,0,0,0.4,0,0.8l0,14.3C0,15.6,0.4,16,0.8,16c0.2,0,0.3-0.1,0.5-0.1 L12.6,9C12.8,8.7,13,8.4,13,8s-0.2-0.7-0.4-1L1.3,0.1z"></path></svg>
                          </div>
                          <div class="ekocom-video-img-play-btn-text">About Sparks</div>
                      </div>
                  </div>
                </div>

                <div class="ekocom-content-horizontal-row">

            </div>

            <div class="ekocom-content-vertical-row fourty">
                <div class="ekocom-content-horizontal-column-image sparks_video">
                    <div class="ekocom-video-img-play-btn">
                        <svg viewBox="0 0 13 16" style="fill: #fff;"><path d="M1.3,0.1C1.1,0.1,1,0,0.8,0C0.4,0,0,0.4,0,0.8l0,14.3C0,15.6,0.4,16,0.8,16c0.2,0,0.3-0.1,0.5-0.1 L12.6,9C12.8,8.7,13,8.4,13,8s-0.2-0.7-0.4-1L1.3,0.1z"></path></svg>
                    </div>
                    <div class="ekocom-video-img-play-btn-text">About Sparks</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-target="#branded_content" class="ekocom-section ekocom-section-intro ekocom-below next-1 site-section branded_content">
    <div class="ekocom-section-inner-wrapper ekocom-section-content">
        <div class="ekocom-content-horizontal ekocom-description">
            <div class="ekocom-content-horizontal-column left">
              <div class="side-text">
                <div class="vertical continued"> SPARKS CONTINUED </div>
              </div>
                <!-- <div class="ekocom-content-horizontal-column-left-row four"> -->
                <div class="ekocom-content-horizontal-column-left-row">
                    <div class="ekocom-section-title">Pioneer emotionally
                        intelligent brand
                        messaging</div>
                <!-- </div>
                <div class="ekocom-content-horizontal-column-left-row four"> -->
                    <div class="ekocom-section-subtitle">Sparks: Emotionally Intelligent</div>
                    <div class="ekocom-section-description">
                        <p class="eko-sparks pio-sparks">An emotional response drives action. Sparks adapt to the viewer’s emotional state during Eko original series, delivering emotionally relevant brand messaging that connects with Eko’s highly engaged audiences.</p>
                        <img class="brandImage videoHide" src="image/branded-img-mobile.png">

                    </div>
                <!-- </div>
                <div class="ekocom-content-horizontal-column-left-row six"> -->
                </div>
            </div>
            <div class="ekocom-content-horizontal-column right">
                <div class="ekocom-content-horizontal-column-left-row ten"></div>
                <div class="ekocom-content-horizontal-column-left-row ninety">
                    <div class="ekocom-content-horizontal-column-image branded_img"></div>
                </div>

            </div>
        </div>
        <div class="ekocom-content-vertical ekocom-description">
            <div class="ekocom-content-vertical-row fiftyFive">
                <div class="ekocom-section-title">Pioneer emotionally intelligent brand messaging</div>
                <div class="ekocom-section-subtitle">Sparks: Emotionally Intelligent</div>
                <div class="ekocom-section-description">
                    <p>An emotional response drives action. Sparks adapt to the viewer’s emotional state during Eko original series, delivering emotionally relevant brand messaging that connects with Eko’s highly engaged audiences.</p>
                </div>
            </div>
            <div class="ekocom-content-vertical-row fourtyFive">
                <div class="ekocom-content-horizontal-column-image branded_img"></div>
            </div>
        </div>
    </div>
</section>
<section data-target="#industry" class="ekocom-section ekocom-section-intro ekocom-below next-1 site-section industry">
    <div class="ekocom-section-inner-wrapper ekocom-section-content">
        <div class="ekocom-content-horizontal ekocom-description">
            <div class="ekocom-content-horizontal-column left">
              <div class="side-text">
                <div class="vertical branded">BRANDED CONTENT</div>
              </div>
                <!-- <div class="ekocom-content-horizontal-column-left-row five"> -->
                <div class="ekocom-content-horizontal-column-left-row seventy">
                    <div class="ekocom-section-title">Create Interactive Branded Content</div>
                <!-- </div>
                <div class="ekocom-content-horizontal-column-left-row four"> -->
                     <div class="ekocom-section-subtitle">Engage Our Partners for Custom Solutions</div>
                    <div class="ekocom-section-description">
                        <p class="eko-sparks video-sparks">Brands interested in creating their own interactive stories can leverage interactive technology through Eko’s production partners to build brand equity and drive action within bespoke experiences.</p>
                    </div>
                    <div class="ekocom-content-horizontal-column-left-row twenty">
                        <div class="ekocom-industry-icon mp" style="background-image: url('./image/industry_mssngpeces.png')"></div>
                        <div class="ekocom-industry-icon pt" style="background-image: url('./image/industry_particle3.png')"></div>
                    </div>
              <div class="mobile-boxs">
                    <div class="mobile-box-container">
                      <div class="ekocom-mobile-box">
                        <a href="https://company.helloeko.com/brands/portfolio#Automotive" target="_blank">
                          <div class="ekocom-mobile-box-text">Automotive</div>
                        </a>
                      </div>
                      <div class="ekocom-mobile-box">
                        <a href="https://company.helloeko.com/brands/portfolio#Lifestyle" target="_blank">
                          <div class="ekocom-mobile-box-text">Lifestyle</div>
                        </a>
                      </div>
                      <div class="ekocom-mobile-box">
                        <a href="https://company.helloeko.com/brands/portfolio#Beverage" target="_blank">
                          <div class="ekocom-mobile-box-text">Beverage</div>
                        </a>
                      </div>
                    </div>
                    <div class="mobile-box-container">
                      <div class="ekocom-mobile-box">
                        <a href="https://company.helloeko.com/brands/portfolio#Entertainment" target="_blank">
                          <div class="ekocom-mobile-box-text">Entertainment</div>
                        </a>
                      </div>
                      <div class="ekocom-mobile-box">
                        <a href="https://company.helloeko.com/brands/portfolio#Science & Tech" target="_blank">
                          <div class="ekocom-mobile-box-text">Science & Tech</div>
                        </a>
                      </div>
                      <div class="ekocom-mobile-box">
                        <a href="https://vimeo.com/218043492/e0de5a1996" target="_blank">
                          <div class="ekocom-mobile-box-text">Other</div>
                        </a>
                      </div>
                    </div>
                    <div class="ekocom-content-horizontal-column-left-row ten">
                    </div>
                </div>
                <div class="button-container">
                  <a href="https://company.helloeko.com/brands/portfolio" target="_blank">
                    <div class="ekocom-eko-button-two">VIEW PORTFOLIO</div>
                  </a>
                  <a href="https://helloeko.com/s/Tech_Resources/Eko_Services_Technical_Overview.pdf" target="_blank">
                    <div class="ekocom-eko-button-three">TECH DETAILS</div>
                  </a>
                </div>
              </div>


            </div>
            <div class="ekocom-content-horizontal-column right">
                <div class="ekocom-content-horizontal-column-left-row nine"></div>
                <div class="ekocom-content-horizontal-column-left-row ninety">
                    <div id="ekocom-branded-content-ui">
                        <div class="ekocom-type-display automotive">
                            <p>Automotive</p>
                            <div class="ekocom-branded-display-icon-list-wrapper">
                                <div class="ekocom-branded-display-icon-list">
                                    <div class="ekocom-branded-display-icon-list-content automotive"></div>
                                </div>
                            </div>
                        </div>
                        <div class="ekocom-type-display lifestyle">
                            <p>Lifestyle</p>
                            <div class="ekocom-branded-display-icon-list-wrapper">
                                <div class="ekocom-branded-display-icon-list">
                                    <div class="ekocom-branded-display-icon-list-content lifestyle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="ekocom-type-display beverage">
                            <p>Beverage</p>
                            <div class="ekocom-branded-display-icon-list-wrapper">
                                <div class="ekocom-branded-display-icon-list">
                                    <div class="ekocom-branded-display-icon-list-content beverage"></div>
                                </div>
                            </div>
                        </div>
                        <div class="ekocom-type-display entertainment">
                            <p>Entertainment</p>
                            <div class="ekocom-branded-display-icon-list-wrapper">
                                <div class="ekocom-branded-display-icon-list">
                                    <div class="ekocom-branded-display-icon-list-content entertainment"></div>
                                </div>
                            </div>
                        </div>
                        <div class="ekocom-type-display science_tech">
                            <p>Science &amp; Tech</p>
                            <div class="ekocom-branded-display-icon-list-wrapper">
                                <div class="ekocom-branded-display-icon-list">
                                    <div class="ekocom-branded-display-icon-list-content science"></div>
                                </div>
                            </div>
                        </div>
                        <div class="ekocom-type-display other">
                            <p>Other</p>
                            <div class="ekocom-branded-display-icon-list-wrapper">
                                <div class="ekocom-branded-display-icon-list">
                                    <div class="ekocom-branded-display-icon-list-content other"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ekocom-content-vertical ekocom-description">
            <div class="ekocom-content-vertical-row sixty">
                <div class="ekocom-section-title">Create Interactive Branded Content</div>
                <div class="ekocom-section-subtitle">Engage Our Partners for Custom Solutions</div>
                <div class="ekocom-section-description">
                    <p>Brands interested in creating their own interactive stories can leverage interactive technology through Eko’s production partners to build brand equity and drive action within bespoke experiences.</p>
                    <div class="ekocom-industry-list">
                        <div class="ekocom-industry-icon mp" style="background-image: url('./image/industry_mssngpeces.png')"></div>
                        <div class="ekocom-industry-icon pt" style="background-image: url('./image/industry_particle3.png')"></div>
                    </div>

                    <div class="ekocom-eko-button-list">
                        <div class="ekocom-eko-button firstBtn">VIEW PORTFOLIO</div>
                        <div class="ekocom-eko-button secondBtn">TECH DETAILS</div>
                    </div>
              </div>
            </div>
            <div class="ekocom-content-vertical-row fourty">
                <div id="ekocom-branded-content-ui-stack">
                    <div class="ekocom-type-display automotive">
                        <p>Automotive</p>
                        <div class="ekocom-branded-display-icon-list-wrapper">
                            <div class="ekocom-branded-display-icon-list">
                                <div class="ekocom-branded-display-icon-list-content automotive"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ekocom-type-display lifestyle">
                        <p>Lifestyle</p>
                        <div class="ekocom-branded-display-icon-list-wrapper">
                            <div class="ekocom-branded-display-icon-list">
                                <div class="ekocom-branded-display-icon-list-content lifestyle"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ekocom-type-display beverage">
                        <p>Beverage</p>
                        <div class="ekocom-branded-display-icon-list-wrapper">
                            <div class="ekocom-branded-display-icon-list">
                                <div class="ekocom-branded-display-icon-list-content beverage"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ekocom-type-display entertainment">
                        <p>Entertainment</p>
                        <div class="ekocom-branded-display-icon-list-wrapper">
                            <div class="ekocom-branded-display-icon-list">
                                <div class="ekocom-branded-display-icon-list-content entertainment"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ekocom-type-display science_tech">
                        <p>Science &amp; Tech</p>
                        <div class="ekocom-branded-display-icon-list-wrapper">
                            <div class="ekocom-branded-display-icon-list">
                                <div class="ekocom-branded-display-icon-list-content science"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ekocom-type-display other">
                        <p>Other</p>
                        <div class="ekocom-branded-display-icon-list-wrapper">
                            <div class="ekocom-branded-display-icon-list">
                                <div class="ekocom-branded-display-icon-list-content other"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-target="#portfolio" class="ekocom-section ekocom-section-intro ekocom-below next-1 site-section portfolio">
    <div class="ekocom-section-inner-wrapper ekocom-section-content">

        <div class="ekocom-content-horizontal ekocom-description">
          <div class="side-text">
            <div class="vertical partners"> PARTNERS </div>
          </div>
            <div class="ekocom-content-horizontal-column left">
                <div class="ekocom-content-horizontal-column-left-row">
                    <div class="ekocom-section-title">Join industry leaders
                        in partnering with Eko</div>
                <!-- </div>
                <div class="ekocom-content-horizontal-column-left-row four"> -->
                    <div class="ekocom-quote-box">
                        <div class="ekocom-quote-box-text">"Helped us bring our idea to life"</div>
                        <div class="ekocom-quote-box-subtext">"Jessy Murray / Senior Director / Digital Content"</div>
                        <div class="ekocom-quote-icon syfy"></div>

                    </div>
                    <img class="home_graphic-mobile logos" src="image/portfolio_logos.png">

                <!-- </div>
                <div class="ekocom-content-horizontal-column-left-row twenty"> -->
                  <a href="https://company.helloeko.com/contact" target="_blank">
                    <div class="ekocom-eko-button-example talk talk-button">LETS TALK</div>
                  </a>
                </div>
            </div>
            <div class="ekocom-content-horizontal-column right">
                <div class="ekocom-content-horizontal-column-left-row twenty"></div>
                <div class="ekocom-content-horizontal-column-left-row seven">
                    <div class="ekocom-content-horizontal-column-image portfolio_logos"></div>
                </div>
                <div class="ekocom-content-horizontal-column-left-row twenty">
                </div>
            </div>
        </div>
        <div class="ekocom-content-vertical ekocom-description">
            <div class="ekocom-content-vertical-row fiftyFive">
                <div class="ekocom-section-title">Join industry leaders in partnering with Eko</div>
                <div class="ekocom-quote-box">
                    <div class="ekocom-quote-box-text">"Helped us bring our idea to life"</div>
                    <div class="ekocom-quote-box-subtext">Jessy Murray / Senior Director / Digital Content</div>
                    <div class="ekocom-quote-icon syfy"></div>
                </div>
                <div class="ekocom-eko-button">LETS TALK</div>

            </div>
            <div class="ekocom-content-vertical-row fourtyFive">
                <div class="ekocom-content-horizontal-column-image portfolio_logos"></div>
            </div>
        </div>
    </div>
</section>
