<section data-target="#brands" class="ekocom-section ekocom-section-intro ekocom-active site-section brands">
    <div class="ekocom-section-inner-wrapper">
        <div class="ekocom-content-horizontal">
            <div class="ekocom-content-horizontal-column left">
                <div class="ekocom-content-horizontal-column-left-row one">
                    <div class="ekocom-section-title">Engage audiences<br>like never before</div>
                </div>
                <div class="ekocom-content-horizontal-column-left-row two">
                    <div class="ekocom-section-subtitle">Integrate your brand message into Eko serial interactive entertainment</div>
                </div>
                <div class="ekocom-content-horizontal-column-left-row three">
                    <div class="ekocom-section-description">"Eko's unique interactivity creates Brand engagement that enables deep emotional connections with consumers unlike any other platform…and heralds the future of entertainment and marketing"</div>
                </div>
            </div>
            <div class="ekocom-content-horizontal-column right">
                <div class="ekocom-content-horizontal-column-image"></div>
            </div>
        </div>
        <div class="ekocom-content-vertical">
            <div class="ekocom-content-vertical-row">
                <div class="ekocom-section-title">Engage audiences<br>like never before</div>
                <div class="ekocom-section-subtitle">Integrate your brand message into Eko serial interactive entertainment</div>
                <div class="ekocom-section-description">"This Eko's unique interactivity creates Brand engagement that enables deep emotional connections with consumers unlike any other platform…and heralds the future of entertainment and marketing"</div>
            </div>
            <div class="ekocom-content-vertical-row">
                <div class="ekocom-content-horizontal-column-image"></div>
            </div>
        </div>
    </div>
    <!-- <div class="ekocom-section-content ekocom-intro">
        <h1 class="font-size-1 ekocom-title ekocom-intro-title">Engage audiences<br>like never before</h1>
        <div class="ekocom-description ekocom-intro-description column column1">
            <p class="ekocom-intro-subtitle">Integrate your brand message into Eko serial interactive entertainment</p>
            <p></p>
            <p></p>
        </div>
        <div class="ekocom-description ekocom-intro-description column column2">
            <p class="ekocom-brands-quote">"Eko's unique interactivity creates Brand engagement that enables deep emotional connections with consumers unlike any other platform…and heralds the future of entertainment and marketing"</p>
            <p class="ekocom-quote-source">- David Sable | Global CEO, Y&amp;R</p>
            <div class="ekocom-quote-img" style="background-image: url('./image/brands_quotes.png')"></div>
        </div>
    </div> -->
</section>
<section data-target="#partners" class="ekocom-section ekocom-section-intro ekocom-below next-1 site-section partners">
    <div class="ekocom-section-content ekocom-intro">
    	<!-- <div class="ekocom-bg-rectangle right-horizontal" style="background-image: url('./image/partners_cluster.png')"></div> -->
        <h1 class="font-size-1 ekocom-title ekocom-intro-title">Collaborate with <br> top creative talent</h1>
        <div class="ekocom-description ekocom-intro-description column column1">
            <p>Eko works with Hollywood storytellers, novel independent creators, and leading content partners to create original interactive series entertainment. Together with brands, we leverage these relationships to develop brand creative and messaging that resonates with today’s digital audiences.</p>
        	<div class="ekocom-action-button">
        		<p>CHECK OUT OUR SHOWS</p>
        	</div>
        </div>
        <div class="ekocom-description ekocom-intro-description column column2">
        	<div class="ekocom-bg-rectangle right-horizontal" style="background-image: url('./image/partners_cluster.png')"></div>
        </div>
    </div>
</section>
<section data-target="#sparks" class="ekocom-section ekocom-section-intro ekocom-below next-1 site-section sparks">
    <div class="ekocom-section-content ekocom-intro">
        <!-- <div class="ekocom-bg-rectangle" style=""></div> -->
        <h1 class="font-size-1 ekocom-title ekocom-intro-title">Integrate seamlessly <br>within Eko Series</h1>
        <div class="ekocom-description ekocom-intro-description column column1">
            <p class="ekocom-intro-subtitle2" style="font-size: 3.5vmin;">Sparks: Organic and Authentic</p>
            <p>Eko Sparks are video brand messages that are integrated into key interactive moments during Eko original series. Sparks are triggered by viewer choices, augmenting the viewer experience by communicating short and powerful brand messaging in an organic and authentic way.</p>
            <div class="ekocom-action-button">
            	<p>EXAMPLE SPARKS</p>
            </div>
            <div class="ekocom-bg-rectangle left-horizontal" style="background-image: url('./image/graph.png')"></div>
        </div>
        <div class="ekocom-description ekocom-intro-description column column2">
            <div class="ekocom-bg-rectangle right-horizontal2" style="background-image: url('./image/sparks_video.png')">
            </div>
        	<div class="ekocom-video-img-play-btn">
        		<svg viewBox="0 0 13 16" style="fill: #fff;"><path d="M1.3,0.1C1.1,0.1,1,0,0.8,0C0.4,0,0,0.4,0,0.8l0,14.3C0,15.6,0.4,16,0.8,16c0.2,0,0.3-0.1,0.5-0.1 L12.6,9C12.8,8.7,13,8.4,13,8s-0.2-0.7-0.4-1L1.3,0.1z"></path></svg>
        	</div>
        </div>
    </div>
</section>
<section data-target="#branded_content" class="ekocom-section ekocom-section-intro ekocom-below next-1 site-section branded_content">
    <div class="ekocom-section-content ekocom-intro">
        <!-- <div class="ekocom-bg-rectangle" style=""></div> -->
        <h1 class="font-size-1 ekocom-title ekocom-intro-title">Pioneer emotionally<br>intelligent brand<br>messaging</h1>
        <div class="ekocom-description ekocom-intro-description column column1">
            <p class="ekocom-intro-subtitle2">Sparks: Emotionally Intelligent</p>
            <p>An emotional response drives action. Sparks adapt to the viewer’s emotional state during Eko original series, delivering emotionally relevant brand messaging that connects with Eko’s highly engaged audiences.</p>
        </div>
        <div class="ekocom-description ekocom-intro-description column column2">
            <div class="ekocom-bg-rectangle right-vertical" style="background-image: url('./image/branded_img.png')"></div>
        </div>
    </div>
</section>
<section data-target="#industry" class="ekocom-section ekocom-section-intro ekocom-below next-1 site-section industry">
    <div class="ekocom-section-content ekocom-intro">
        <!-- <div class="ekocom-bg-rectangle" style=""></div> -->
        <h1 class="font-size-1 ekocom-title ekocom-intro-title">Create Interactive<br>Branded Content </h1>
        <div class="ekocom-description ekocom-intro-description column column1">
            <p class="ekocom-intro-subtitle2">Engage Our Partners for Custom Solutions</p>
            <p>Brands interested in creating their own interactive stories can leverage interactive technology through Eko’s production partners to build brand equity and drive action within bespoke experiences.</p>
            <div class="ekocom-industry-icon mp" style="background-image: url('./image/industry_mssngpeces.png')"></div>
            <div class="ekocom-industry-icon pt" style="background-image: url('./image/industry_particle3.png')"></div>
            <div class="ekocom-branded-action-button-list">
                <div class="ekocom-action-button ekocom-branded-action-buttons">
                	<p>VIEW PORTFOLIO</p>
                </div>
                <div class="ekocom-action-button ekocom-branded-action-buttons">
                	<p>TECH DETAILS</p>
                </div>
            </div>
        </div>
        <div class="ekocom-description ekocom-intro-description column column2">
        	<div id="ekocom-branded-content-ui">
                <div class="ekocom-type-display">
                    <p>Automotive</p>
                    <div class="ekocom-branded-display-icon-list-wrapper">
                        <div class="ekocom-branded-display-icon-list">
                            <div class="ekocom-branded-display-icon-list-content automotive"></div>
                        </div>
                    </div>
                </div>
                <div class="ekocom-type-display">
                    <p>Lifestyle</p>
                    <div class="ekocom-branded-display-icon-list-wrapper">
                        <div class="ekocom-branded-display-icon-list">
                            <div class="ekocom-branded-display-icon-list-content lifestyle"></div>
                        </div>
                    </div>
                </div>
                <div class="ekocom-type-display">
                    <p>Beverage</p>
                    <div class="ekocom-branded-display-icon-list-wrapper">
                        <div class="ekocom-branded-display-icon-list">
                            <div class="ekocom-branded-display-icon-list-content beverage"></div>
                        </div>
                    </div>
                </div>
                <div class="ekocom-type-display">
                    <p>Entertainment</p>
                    <div class="ekocom-branded-display-icon-list-wrapper">
                        <div class="ekocom-branded-display-icon-list">
                            <div class="ekocom-branded-display-icon-list-content entertainment"></div>
                        </div>
                    </div>
                </div>
                <div class="ekocom-type-display">
                    <p>Science &amp; Tech</p>
                    <div class="ekocom-branded-display-icon-list-wrapper">
                        <div class="ekocom-branded-display-icon-list">
                            <div class="ekocom-branded-display-icon-list-content science"></div>
                        </div>
                    </div>
                </div>
                <div class="ekocom-type-display">
                    <p>Other</p>
                    <div class="ekocom-branded-display-icon-list-wrapper">
                        <div class="ekocom-branded-display-icon-list">
                            <div class="ekocom-branded-display-icon-list-content other"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ekocom-branded-content-ui-stack">
        		<div class="ekocom-type-display">
        			<p>Automotive</p>
        			<div class="ekocom-branded-display-icon-list-wrapper">
	        			<div class="ekocom-branded-display-icon-list">
		        			<div class="ekocom-branded-display-icon-list-content automotive"></div>
	        			</div>
        			</div>
        		</div>
        		<div class="ekocom-type-display">
        			<p>Lifestyle</p>
        			<div class="ekocom-branded-display-icon-list-wrapper">
	        			<div class="ekocom-branded-display-icon-list">
		        			<div class="ekocom-branded-display-icon-list-content lifestyle"></div>
	        			</div>
        			</div>
        		</div>
        		<div class="ekocom-type-display">
        			<p>Beverage</p>
        			<div class="ekocom-branded-display-icon-list-wrapper">
	        			<div class="ekocom-branded-display-icon-list">
		        			<div class="ekocom-branded-display-icon-list-content beverage"></div>
	        			</div>
        			</div>
        		</div>
        		<div class="ekocom-type-display">
        			<p>Entertainment</p>
        			<div class="ekocom-branded-display-icon-list-wrapper">
	        			<div class="ekocom-branded-display-icon-list">
		        			<div class="ekocom-branded-display-icon-list-content entertainment"></div>
	        			</div>
        			</div>
        		</div>
        		<div class="ekocom-type-display">
        			<p>Science &amp; Tech</p>
        			<div class="ekocom-branded-display-icon-list-wrapper">
	        			<div class="ekocom-branded-display-icon-list">
		        			<div class="ekocom-branded-display-icon-list-content science"></div>
	        			</div>
        			</div>
        		</div>
        		<div class="ekocom-type-display">
        			<p>Other</p>
        			<div class="ekocom-branded-display-icon-list-wrapper">
	        			<div class="ekocom-branded-display-icon-list">
		        			<div class="ekocom-branded-display-icon-list-content other"></div>
	        			</div>
        			</div>
        		</div>
        	</div>
        </div>
    </div>
</section>
<section data-target="#portfolio" class="ekocom-section ekocom-section-intro ekocom-below next-1 site-section portfolio">
    <div class="ekocom-section-content ekocom-intro">
        <!-- <div class="ekocom-bg-rectangle" style=""></div> -->
        <h1 class="font-size-1 ekocom-title ekocom-intro-title">Join industry leaders<br>in partnering with Eko</h1>
        <div class="ekocom-description ekocom-intro-description column column1">
        	<div class="ekocom-quote-box">
	        	<div class="ekocom-quote-text">"Helped us bring our idea to life"</div>
	        	<div class="ekocom-quote-subtext">"Jessy Murray / Senior Director / Digital Content"</div>
	        	<div class="ekocom-quote-icon" style="background-image: url('./image/portfolio_syfy.png')"></div>
        	</div>
            <div class="ekocom-action-button">
            	<p>LETS TALK</p>
            </div>
        </div>
        <div class="ekocom-description ekocom-intro-description column column2">
            <div class="ekocom-bg-rectangle right-horizontal3" style="background-image: url('./image/portfolio_logos.png')"></div>
        </div>
    </div>
</section>
